@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h2>Mocs</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Definition</th>
                <th scope="col">Justification</th>
                <th scope="col">Benefit</th>
                <th scope="col">InitiationDate</th>
                <th scope="col">ClosingDate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">test değişikliği</th>
                <td>test açıklaması</td>
                <td>test gerekçesi</td>
                <td>test yararları</td>
                <td>test tarihi</td>
                <td>test tarihi</td>
            </tr>
        </tbody>
    </table>
</div>
