@model MOCProject.ModelViews.MocCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Moc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Moc.Name" class="control-label"></label>
                <input asp-for="Moc.Name" class="form-control" />
                <span asp-validation-for="Moc.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moc.Definition" class="control-label"></label>
                <input asp-for="Moc.Definition" class="form-control" />
                <span asp-validation-for="Moc.Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moc.Justification" class="control-label"></label>
                <input asp-for="Moc.Justification" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Moc.Benefit" class="control-label"></label>
                <input asp-for="Moc.Benefit" class="form-control" />
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Related Departments</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.Departments)
                                {
                                    <li><input type="checkbox" class="DepartmentId" id="subDepartmentId + @item.Id" value=@item />&nbsp;@item.Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="button-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><span>Related Users</span> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                @foreach (var item in Model.Users)
                                {
                                    <li><input type="checkbox" class="UserId" id="subUserId + @item.Id" value="@item" />&nbsp;@item.UserName</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Moc.InitiationDate" class="control-label"></label>
                <input asp-for="Moc.InitiationDate" class="form-control" />
                <span asp-validation-for="Moc.InitiationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Moc.ClosingDate" class="control-label"></label>
                <input asp-for="Moc.ClosingDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //var departments;
        //$("#submit").submit(function () {
        //    console.log("burda")
        //    $(".DepartmentId").each(function () {
        //        if ($(this).is(":checked")) {
        //            console.log(departments);

        //        }
        //    });
        //});
    })

</script>
