@model MOCProject.ModelViews.MocCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Moc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form onsubmit="return FillMoc(event)" id="createMocForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Moc.Name" class="control-label"></label>
                <input asp-for="Moc.Name" class="form-control" />
                <span asp-validation-for="Moc.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moc.Definition" class="control-label"></label>
                <input asp-for="Moc.Definition" class="form-control" />
                <span asp-validation-for="Moc.Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Moc.Justification" class="control-label"></label>
                <input asp-for="Moc.Justification" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Moc.Benefit" class="control-label"></label>
                <input asp-for="Moc.Benefit" class="form-control" />
            </div>
            <div class="form-group">
                <div>
                    @foreach (var item in Model.Departments)
                    {
                        <div>
                            <div class="d-flex float-left">
                                <input type="checkbox" class="DepartmentId" id="subDepartmentId_@item.Id" value=@item.Id onclick="CheckDepartment(@item.Id)" />&nbsp;@item.Name
                            </div>
                            <div class="d-flex float-right">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle departmentsButton" id="buttonDepartmentUsers_@item.Id" data-toggle="dropdown"><span>Related Users</span> <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    @foreach (var user in item.DepartmentMembers.ToList())
                                    {
                                        <li><input type="checkbox" class="UserId" id="subUserId_@user.Id" value="@user.Id" />&nbsp;@user.UserName</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Moc.InitiationDate" class="control-label"></label>
                <input asp-for="Moc.InitiationDate" class="form-control" />
                <span asp-validation-for="Moc.InitiationDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Moc.ClosingDate" class="control-label"></label>
                <input asp-for="Moc.ClosingDate" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" id="submit" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".departmentsButton").hide()
    });

    function CheckDepartment(Id) {
        var fullId = "#" + "subDepartmentId_" + Id;
        var buttonId = "#" + "buttonDepartmentUsers_" + Id;
        console.log(fullId)
        if ($(fullId).is(":checked")) {
            console.log(buttonId);
            $(buttonId).show();
        }
        else {
            $(buttonId).hide();
        }
    }

    function FillMoc(e) {
        e.preventDefault();
        SendForm();
    }

    function SendForm() {
        const formData = new FormData(createMocForm);
        var moc = {};
        var departments = [];
        var users = [];
        $(".DepartmentId").each(function () {
            if ($(this).is(":checked")) {
                departments.push({ "Id": $(this).val() });
            }
        });
        $(".UserId").each(function () {
            if ($(this).is(":checked")) {
                users.push({ "Id": $(this).val() });
            }
        });
        console.log("departmanlar" + departments);
        console.log("kullanıcılar" + users);
        for (var pair of formData.entries()) {
            var objectName = pair[0].split(".")[1].toString();
            moc[objectName] = pair[1];
            console.log(objectName);
        }
        moc["RelatedDepartments"] = departments;
        moc["RelatedUsers"] = users;
        console.log(JSON.stringify(moc));

        $.ajax({
            type: "POST",
            //contentType: "application/json; charset=utf-8",
            url: '@Url.Action("Create", "Mocs")',
            data: moc,
            //dataType: 'json',
            success: function (response) {
                if (response.success) {
                    alert("Başarıyla Eklendi");
                    window.location.href = "/Mocs/Index"
                } else {
                    // DoSomethingElse()
                    alert("Başarısız");
                }
            },
            error: function (response) {
                alert("error!");  //
            }
        });
    }



</script>
