@model MOCProject.Models.Task

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Görevi Kapat</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="MocId" class="form-control" asp-items="ViewBag.MocId" hidden="hidden"></select>
            </div>
            <div class="form-group">
                <input asp-for="Duedate" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="RelatedUserId" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Comment" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="Definition" class="form-control" hidden="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="ClosingDate" class="control-label">Kapanma Tarihi</label>
                <input asp-for="ClosingDate" class="form-control" />
                <span asp-validation-for="ClosingDate" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ClosingNote" class="control-label">Kapanma Notu</label>
                <input asp-for="ClosingNote" class="form-control" />
                <span asp-validation-for="ClosingNote" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
